<html>
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" href="css/calculator.css">
  </head>
  <body ng-app='MyCalculator'>
    <div class="main-calculator" ng-controller='ComputeController'>
      <form name="myCompute" ng-submit="computeProcess()" novalidate>
        <input type="number" name="numbera" ng-model="newCompute.numbera" placeholder="Fill the number A" required="" />
        <select name="operation" id="operation" ng-model="newCompute.operation">
          <option value="">---Please select an operation---</option>
          <option value="sum">Sum</option>
          <option value="substract">Substract</option>
          <option value="multiply">Multiply</option>
          <option value="divide">Divide</option>
        </select>
        <input type="number" ng-model="newCompute.numberb" placeholder="Fill the number B"/>
        <input type="submit" value="go"/>
      </form>
      <p>{{lastResult}}</p>

      <div ng-repeat="compute in computes">
        <p>{{compute.numbera}} {{compute.op}} {{compute.numberb}} = {{compute.result}}</p>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controller/ComputeController.js"></script>
    </div>
  </body>
</html>
