<html>
  <head>
    <title>Calculator</title>
  </head>
  <body ng-app='MyCalculator'>
    <form ng-submit="">
      <input type="text" ng-model="newCompute.numbera"/>
      <select ng-model="newCompute.operation">
        <option value="sum">Sum</option>
        <option value="multiply">Multiply</option>
      </select>
      <input type="text" ng-model="newCompute.numberb"/>
      <input type="submit" value="go"/>
      <p id="result"></p>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controller/ComputeController.js"></script>
  </body>
</html>
